@model Race
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 w-50">
            <img class="img-fluid" src="@Model.Image" alt="@Model.Title">
        </div>
        <div class="col-md-8 w-50">
            <h5>@Model.Title</h5>
            <p>@Model.Description</p>
            <ul class="mt-3">
                <li class="text-muted">@Model.Address.State</li>
                <li class="text-muted">@Model.Address.City</li>
                <li class="text-muted">@Model.Address.Street</li>
            </ul>
        </div>
    </div>
</div>
